@-moz-document url("about:newtab") {  
    body {
			background: #363636 !important;
			--newtab-card-active-outline-color: #475f86 !important;
    }

		.top-site-outer .title {
			color: #d3d7cf !important;
		}
    /**/
		.search-wrapper input {
			background: #363636 var(--newtab-search-icon) 8px center no-repeat !important;
			color: #d3d7cf !important;
		}
		
		.collapsible-section.active {
			background: #363636 !important;
		}
		
		.fixed-search .search-wrapper {
			background: unset !important;
			border-bottom: unset !important;
		}
}
