@define-color bg_normal   #000000;
@define-color bg_border   #1a1a1a;
@define-color bg_widget   #000000;

@define-color fg_normal   #b0b0b0;
@define-color fg_good     #86AD85;
@define-color fg_medium   #FE8600;
@define-color fg_urgent   #FF5500;
@define-color fg_inactive #888888;

* {
  border:         none;
  border-radius:  0;
  min-height:     0;
}

window#waybar {
  font-family:    "Ubuntu";
  font-weight:    400;
  font-size:      14px;
  color:          @fg_normal;
}

#waybar {
  background:     @bg_normal;
  border-bottom:  1px solid @bg_widget;
}

#workspaces button {
  padding:      0 4px;
  color:        @fg_normal;
  border:       1px solid @bg_border;
  font-weight:  400;
}

#workspaces button.focused {
  background: #285577;
  border:     1px solid #4c7899;
}

#workspaces button.urgent {
  background: #900000;
  border:     1px solid #2f343a;
}

#tray {
  font-family:  Ubuntu;
  font-size:    14px;
}

#clock,
#custom-clock,
#custom-do_not_disturb,
#language,
#mpris,
#privacy
{
  padding:  0 2px;
  margin:   0 2px;
}

#backlight,
#battery,
#bluetooth,
#cpu,
#custom-bluez_profile,
#custom-sunset,
#custom-temp,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#power-profiles-daemon,
#temperature,
#tray,
#window,
#wireplumber
{
  padding:    0 2px;
  margin:     0 2px;
  background: @bg_widget;
  border:     none;
}


#window {
  background: transparent;
  border:     none;
}

#idle_inhibitor.deactivated
{
  color: @fg_inactive;
}

#backlight.low,
#bluetooth.on,
#cpu.low,
#disk.low,
#memory.low,
#power-profiles-daemon.balanced,
#wireplumber.sink.low,
#wireplumber.source.muted
{
  color: @fg_normal;
}

#battery.high,
#bluetooth.connected,
#mpris.playing,
#power-profiles-daemon.power-saver,
#wireplumber.sink.bluetooth
{
  color: @fg_good;
}

#backlight.medium,
#battery.charging,
#battery.medium,
#bluetooth.disabled,
#bluetooth.off,
#cpu.medium,
#custom-bluez_profile,
#custom-temp.zone2,
#disk.medium,
#idle_inhibitor.activated,
#memory.medium,
#mpris.paused,
#privacy-item.audio-out,
#wireplumber.sink.medium,
#wireplumber.source
{
  color: @fg_medium;
}

#backlight.high,
#battery.low:not(.charging),
#cpu.high,
#custom-do_not_disturb.off,
#custom-temp.zone3,
#disk.high,
#memory.high,
#mode,
#network.disconnected,
#power-profiles-daemon.performance,
#privacy,
#temperature.critical,
#wireplumber.sink.high,
#wireplumber.sink.muted
{
  color: @fg_urgent;
}
