@define-color bg_normal   #1a1a1a;
@define-color bg_border   #363636;
@define-color bg_widget   #1a1a1a;

@define-color fg_normal   #c0c0c0;
@define-color fg_good     #86AD85;
@define-color fg_medium   #FFAE00;
@define-color fg_urgent   #FF5500;
@define-color fg_inactive #888888;

* {
  border:         none;
  border-radius:  0;
  min-height:     0;
  font-family:    "Ubuntu";
  font-weight:    600;
  font-size:      14px;
  color:          @fg_normal;
}

#waybar {
  background:     @bg_normal;
  border-bottom:  1px solid @bg_widget;
}

#workspaces button {
  padding:  1 0px;
  color:    #4c7899;
  border:   1px solid @bg_border;
}

#workspaces button.focused {
  background: #285577;
  border:     1px solid @bg_normal;
}

#workspaces button.urgent {
  background: #900000;
  border:     1px solid @bg_normal;
}

#language,
#tray,
#clock {
  padding:  0 2px;
  margin:   0 2px;
}

#disk,
#custom-power,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#window,
#idle_inhibitor {
  padding:    0 2px;
  margin:     0 2px;
  background: @bg_widget;
  border:     1px solid @bg_border;
}

#mode {
  color: @fg_urgent;
}

#window {
  background: transparent;
  border:     none;
}

#battery.charging{
  color: @fg_medium;
}

#battery.high {
  color: @fg_good;
}

#battery.medium {
  color: @fg_medium;
}

#battery.low:not(.charging) {
  color: @fg_urgent;
}

#network.disconnected {
  color: @fg_urgent;
}

#pulseaudio.bluetooth {
  color: @fg_good;
}

#pulseaudio.muted {
  color: @fg_inactive;
}

#temperature.critical {
  color: @fg_urgent;
}

#idle_inhibitor.activated {
  color: @fg_medium;
}

#idle_inhibitor.deactivated {
  color: @fg_inactive;
}

#backlight.low,
#pulseaudio.low {
  color: @fg_good;
}

#cpu.low,
#memory.low,
#disk.low {
  color: @fg_normal;
}

#backlight.medium,
#pulseaudio.medium,
#cpu.medium,
#memory.medium,
#disk.medium {
  color: @fg_medium;
}

#backlight.high,
#pulseaudio.high,
#cpu.high,
#memory.high,
#disk.high {
  color: @fg_urgent;
}
