# <Tab> behaviour
set show-all-if-ambiguous on

# Completion colors
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set colored-completion-prefix On
set menu-complete-display-prefix On

# Hotkeys
"\e[A": history-search-backward
"\e[B": history-search-forward

