!******************************************************
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.antialias: true
Xft.lcdfilter:  lcddefault
!Xft.dpi: 144
Xft.dpi: 128
!Xft.dpi: 118
!Xcursor.theme:	Vanilla-DMZ
!Xcursor.size:		26

!******************************************************
URxvt.termName:	rxvt-unicode-256color
URxvt.font:			xft:Hack:size=9:regular:pixelsize=15
!URxvt.font:			xft:Hack:size=10
URxvt.perl-ext-common: clipboard
URxvt.keysym.M-C-c:   perl:clipboard:copy
URxvt.keysym.M-C-v:   perl:clipboard:paste
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.fading:	10
URxvt.depth:	32
URxvt.background:	#1e262a
URxvt.foreground:	#babdb6
URxvt.urlLauncher:      chromium
URxvt.matcher.button:   1 
URxvt.scrollBar:	false
URxvt.saveLines:	32767
URxvt.urgentOnBell:	False

!******************************************************
*fading:                40
*fadeColor:             #002b36
*cursorColor:           #586e75
!! black dark/light
*color0:                #073642
*color8:                #002b36
!! red dark/light
*color1:                #dc322f
*color9:                #cb4b16
!! green dark/light
*color2:                #859900
*color10:               #586e75
!! yellow dark/light
*color3:                #b58900
*color11:               #657b83
!! blue dark/light
*color4:                #268bd2
*color12:               #839496
!! magenta dark/light
*color5:                #d33682
*color13:               #6c71c4
!! cyan dark/light
*color6:                #2aa198
*color14:               #93a1a1
!! white dark/light
*color7:                #93a1a1
*color15:               #fdf6e3
