!******************************************************
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.rgba:       rgb
Xft.antialias:  true
Xft.lcdfilter:  lcddefault
Xft.dpi:        112
Xcursor.theme:  Vanilla-DMZ-AA
Xcursor.size:   16

!******************************************************
alttab.tile.geometry: 128x86
alttab.icon.geometry: 127x64
alttab.background:    #1E2320
alttab.framecolor:    #285577
alttab.font:          xft:Ubuntu Medium-10
