[Desktop Entry]
Type=Application
Exec=/usr/bin/foot -a foot-tmux -e tmux-workspace.sh
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Foot Tmux
GenericName=Terminal
Comment=A wayland native terminal emulator
StartupWMClass=foot-tmux
