<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

	<menu execute="obm-xdg" id="xdg-menu" label="Applications"/>
	<menu execute="obm-nav ~/downloads	thunar urxvt" id="nav-downloads"	label="Downloads"/>
	<menu execute="obm-nav ~/doc				thunar urxvt" id="nav-doc"				label="Documents"/>
	<menu execute="obm-nav ~/video			thunar urxvt" id="nav-video"			label="Video"/>
	<menu execute="obm-nav ~/music			thunar urxvt" id="nav-music"			label="Music"/>
	<menu execute="obm-nav ~/pictures		thunar urxvt" id="nav-pictures"		label="Pictures"/>
	<menu execute="obm-nav ~/tmp				thunar urxvt" id="nav-tmp"				label="Temp"/>

	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Customize Look and Feel">
			<action name="Execute">
				<command>lxappearance</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Manage Cups Printers">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>

	<menu id="root-menu" label="Openbox 3">
		<menu id="xdg-menu"/>

		<separator/>
		<menu id="nav-downloads"/>
		<menu id="nav-doc"/>
		<menu id="nav-video"/>
		<menu id="nav-music"/>
		<menu id="nav-pictures"/>
		<menu id="nav-tmp"/>

		<separator/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Execute">
				<command>lxsession-logout</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
</openbox_menu>
