configuration {
	modi: "run,drun";
	font: "ubuntu mono 15";
	terminal: "alacritty";
	theme: "/home/malvery/.config/rofi/themes/materia.rasi";
	kb-cancel: "Escape,Control+g,Control+bracketleft,MouseMiddle";
}
