configuration {
  modi:       "run,drun";
  font:       "ubuntu mono 15";
  terminal:   "foot";
  kb-cancel:  "Escape,Control+g,Control+bracketleft,MouseMiddle";
}
@theme "/usr/share/rofi/themes/purple.rasi"
