
[Desktop Entry]
Type=Application
Exec=clipit -n
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=clipit
Name=clipit
Comment[en_US]=clipboard manager
Comment=clipboard manager
