[Desktop Entry]
Type=Application
Exec=compton -e 0.9 -m 0.95 -C -c
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=compton
Name=compton
Comment[en_US]=
Comment=
