[Desktop Entry]
Type=Application
Exec=/home/malvery/bin/kbdd.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=kbdd
Name=kbdd
Comment[en_US]=
Comment=
