
[Desktop Entry]
Type=Application
Exec=redshift -l 53.36:58.99 -m vidmode -t 5500:4000
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=redshift
Name=redshift
Comment[en_US]=
Comment=
