
[Desktop Entry]
Type=Application
Exec=syndaemon -t -i 1
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=syndaemon
Name=syndaemon
Comment[en_US]=
Comment=
