[Desktop Entry]
Type=Application
Exec=urxvt -name tmux-main -e /home/malvery/bin/tmux.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=tmux
Name=tmux
Comment[en_US]=urxvt
Comment=urxvt
