[Desktop Entry]
Name=Terminal
Comment=Use the command line
TryExec=urxvt
Exec=urxvt
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Keywords=Run;
Actions=Main;New
#X-Ubuntu-Gettext-Domain=gnome-terminal

[Desktop Action New]
Name=New Terminal
Exec=urxvt
OnlyShowIn=Unity

[Desktop Action Main]
Name=Main Tmux session
Exec=urxvt -e /home/malvery/bin/tmux.sh
OnlyShowIn=Unity
