[Desktop Entry]
Version=1.0
Type=Application
Name=lxsession-logout
Comment=
Exec=lxsession-logout
Icon=system-shutdown-symbolic
Path=
Terminal=false
StartupNotify=false
